.application_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.application_card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;
}

.application_card:hover {
  transform: translateY(-5px);
}

.app_desc {
  display: grid;
  gap: 1rem;
}

.application_card a {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.main {
  min-height: calc(100dvh - 90px);
}

.application_card img{
  object-fit: cover;
  object-position: center;
  min-width: 100%;
}